html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ====== DARK MODE ====== */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #0d1b2a !important;
}

.dark-mode .footer {
    background-color: #1e1e1e;
}

.dark-mode .nav-link {
    color: #ffffff !important;
}

.dark-mode .nav-link.active {
        font-weight: bold;
        color: #0dcaf0 !important;
}


/* ====== DARK MODE TRANSITION ====== */
body,
.navbar,
.card,
.footer,
.nav-link {
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}